@charset "UTF-8";

*{
	font-family: 'Sitka Display','American Typewriter',sans-serif;
}	

.cover-img {
	height: 600px;
	display: table;
	width: 100%;
	background-size: cover;
}		

.cover-text {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}	
.imgprof{
	width: 280px;
	height: 280px;
	border-radius: 50%;
	object-fit: cover;
}	

.portfolioimg {
	width: 100%;
	height: 350px;
}	

#name {
		box-sizing: border-box;
		width: 100%;
		padding-left: 20px;
		letter-spacing: 1px;
		border: 0;
}		

#email {
		box-sizing: border-box;
		width: 100%;
		padding-left: 20px;
		letter-spacing: 1px;
		border: 0;
}		

section {
	margin-top: -60px;
	padding-top: 60px;
}	

h1{
	font-family: 'Zapfino','Sitka Display','American Typewriter',sans-serif;
}	

.ex-portfolio {
	transition: 0.7s;
}		

.ex-portfolio:hover {
	transform: translateY(-5px);
	box-shadow: 0 0 20px 0  rgba(0,0,0,2);
}		

/* ワイドスクリーン用のCSS */
@media only screen and (min-width: 1500px) {
	.cover-img {
		height: 800px;
	}		
}		

/* タブレット用のCSS */
@media only screen and (min-width : 768px) and (max-width : 1200px) {
	.cover-img {
		height: 500px;
	}		
}		

/* スマホ用のCSS */
@media only screen and (max-width: 479px) {
	.cover-img {
		height: 300px;
	}		
}		

